<app-header></app-header>

<!-- lines permet d'avoir la ligne sous document. Header de la liste-->
<ion-list-header lines="full">
  <ion-label>Mes documents</ion-label>
</ion-list-header>

<!-- Détail permet d'afficher la fleches, le button permet de rendre l'objet cliquable-->
<ion-content>
  <ion-list>
    <ion-item button (click)="onClick()" detail>
      <ion-label>Ajustement des prix de vos articles</ion-label>
    </ion-item>
    <ion-item button (click)="onClick()" detail>
      <ion-label>Devis pour des boites cache-cache</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
