<ion-header>
  <ion-grid>
    <ion-toolbar>
      <ion-row>
        <ion-col size="4">
          <ion-avatar>
            <img class="image" src="assets/icon/favicon.png" alt="avatar">
          </ion-avatar>
        </ion-col>
        <ion-col size="4">
          <img src="assets/icon/logo.jpg" alt="logo">
        </ion-col>
        <ion-col size="1">
          <ion-icon class="icones" name="cart-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-badge color="primary">0</ion-badge>
        </ion-col>
        <ion-col size="2">
          <small>00.00</small>
        </ion-col>
      </ion-row>
      <ion-row class="colonne">
        <ion-col size="5">
          <div><small>Mon entreprise à moi</small></div>
        </ion-col>
        <ion-col size="2">
          <ion-icon class="icones" name="subway-outline"></ion-icon>
        </ion-col>
        <ion-col size="5">
          <div>250€ <small>avant la livraison</small></div>
        </ion-col>
      </ion-row>
      <ion-row class="colonne">
        <ion-col size="5">

        </ion-col>
        <ion-col size="2">
          <ion-icon class="icones" name="home-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <div>-5% <small>retrait entrepôt</small></div>
        </ion-col>
        <ion-col size="2">
          <ion-toggle></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-grid>
</ion-header>
