ion-title{
  margin-top: 5px;
}

ion-icon{
  zoom: 2;
  padding:0.5em;
}
ion-icon:hover{
  background: #d1d1d1;
}

.image {
  width: 70%;
  height: 70%;
}

.icones {
  font-size: x-large;
}

.colonne {
  margin-top: -30px;
}

