<ion-header>
  <ion-grid> <!-- créer un quadrillage permettant de positionner des colonnes et des lignes -->
    <ion-toolbar>
      <ion-row> <!-- permet d'ajouter une ligne, enfant du grid et mere de ion-col-->
        <ion-col size="4">
          <ion-avatar>
            <img class="image" src="assets/icon/devanturePizzaHut.png" 
            alt="avatar" (click)="versSettings()">
          </ion-avatar>
          <div><small>Mon entreprise à moi</small></div>
        </ion-col>
        <ion-col class="logo" size="4">
          <img src="assets/icon/logo.jpg" alt="logo">
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="goPanier()">
            <ion-icon class="icones" name="cart-outline" size="small"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-badge color="primary">0</ion-badge>
        </ion-col>
        <ion-col size="1">
          00.00
        </ion-col>
        <ion-col>
          {{quantityTotal}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <ion-icon class="icones" name="subway-outline" size="small"></ion-icon>
        </ion-col>
        <ion-col size="5">
          <div><small>250€ avant la livraison</small></div>
        </ion-col>
      </ion-row>
      <ion-row class="colonne">
        <ion-col size="5">

        </ion-col>
        <ion-col size="2">
          <ion-icon class="icones" name="home-outline" size="small"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <div>-5% <small>retrait entrepôt</small></div>
        </ion-col>
        <ion-col size="2">
          <ion-toggle></ion-toggle> <!-- ajoute le bouton activé/désactivé -->
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-grid>
</ion-header>
