ion-title{
  margin-top: 5px;
}

ion-icon{
  zoom: 2;
  padding:3px;
}

.colonne {
  margin-top: -30px;
}

ion-toggle{
  height: 20px;
  width: 35px;
}

.logo{
  text-align: center;
}
ion-col{
  padding: 5px;
  margin-bottom: 20px;

}

ion-col{
  margin: 0px;
}
