ion-title{
  margin-top: 5px;
}

ion-icon{
  zoom: 2;
  padding:3px;
}

.colonne {
  margin-top: -18px;
}

.colonneMax {
  margin-top : -50px;
  margin-bottom: -20px;
}

ion-toggle{
  height: 20px;
  width: 35px;
}

.logo{
  text-align: center;
}
ion-col{
  padding: 5px;
  margin-bottom: 20px;

}

ion-col{
  margin: 0px;
}

.green {
  color: green;
}

ion-badge{
  margin-left:-2em;
}

