<ion-header>
    <ion-item>
        <div>
            <img src="assets/icon/logo.jpg" class="logoHeader" alt="logo">
        </div>
        <ion-button (click)="onDismiss()" slot="end">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-item>
</ion-header>
<ion-content class="ion-padding">
    <ion-label><strong>Mon panier :</strong></ion-label>


    <div *ngIf="panier.length != 0">
        <ion-button (click)="deleteAll()" color="danger">
            Vider le panier
        </ion-button>
    </div>
    <ion-list>
        <ion-item *ngFor="let ligne of panier">
            <ion-avatar><img src="{{ligne.article.articleImage.image}}"></ion-avatar>
            <span class="small">
            <ion-label><strong>{{ligne.article.reference}}</strong></ion-label>
                {{ligne.article.label}}
            </span>
            <span class="align">
            {{ligne.article.unitPrice}}
            </span>
            <ion-select (ionChange)="updatePanier($event,ligne)" interface="popover" slot="end" placeholder="{{ligne.quantity}}">
                <ion-item *ngFor="let chiffre of nombreQuantite">
                    <ion-select-option value="{{chiffre}}">
                        {{chiffre}}
                    </ion-select-option>
                </ion-item>
            </ion-select>
            <span slot="end">
            <ion-button color="danger" (click)="deleteLine(ligne)">
            <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </span>
        </ion-item>
    </ion-list>
    <div *ngIf="panier.length != 0; else paniervide" class="alignement">
        <div>
            <span slot="start">Sous-total HT : </span>
            <span slot="end"> {{total}}</span>
        </div>
        <div *ngIf="!remise">
            <div *ngIf="total-250 >= 0; else pasRemise" class="green">
                <small>LIVRAISON GRATUITE</small>
            </div>
            <ng-template #pasRemise>
                <span class="green">{{250 - total }} </span><small> € avant la livraison</small>
            </ng-template>
        </div>
        <div>
            <ion-icon class="icones" name="home-outline" size="small"></ion-icon>
            <span class="green">-5%</span><small> retrait entrepôt</small>
            <ion-toggle (ionChange)="toggled()" class="reductionHauteur"></ion-toggle>
        </div>
        <div>
            <span><strong>Total HT : </strong></span>
            <span>{{total}}</span>
        </div>
        <ion-button (click)="onCommandeValid()" color="success">
            Commander
        </ion-button>
    </div>
    <ng-template #paniervide>
        <div>
            Le panier est vide :( 
        </div>
    </ng-template>
</ion-content>
