.colonne {
  margin-top: -18px;
}

.green {
  color: green;
}

.logoHeader {
    margin: auto;
    text-align: center ;
    font-size: small;
}

.reductionHauteur {
  margin-bottom: -15px;
}

ion-avatar {
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
}

.colonne {
  margin-top: -18px;
}

.small {
  font-size: small;
}

.alignement{
  margin-top: 25px;
  text-align: center;
  position:absolute;
  width:100%;
}

.right {
  align-items: flex-end;
  justify-content: flex-end;
}

.align {
  text-align: center;
}
