<ion-header>
  <ion-toolbar>
              <ion-button slot="start">
                  <ion-back-button></ion-back-button>
              </ion-button>
              <img src="assets/icon/logo.jpg" class="header" alt="logo">
  </ion-toolbar>
</ion-header> 

<ion-content>
  <!--Debounce permet d'attendre un certain temps avant le dernier input pour pas faire 458 requêtes 
  $event sert à récolter les inputs et a les envoyer dans un objet de type DOM event (https://angular.io/guide/user-input)-->
  <ion-searchbar showCancelButton="focus" debounce="500" (ionChange)="getArticleSearched($event)"
  animated placeholder="Rechercher.." class="searchbar"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-label>
      <strong>Mes clients :</strong>
    </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let client of comptes">
      <ion-avatar slot="start"><img src="{{client.customerPicture}}"></ion-avatar>
      <ion-label>{{client.name}}</ion-label>
      <ion-label>{{client.city.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
