<ion-header>
  <ion-toolbar>
    <ion-row>
        <ion-col size="2">
          <ion-back-button defaultHref="nav/article" color="success"></ion-back-button>
        </ion-col>
      <ion-col size="2.5"></ion-col>
      <ion-col size="auto">
        <img src="assets/icon/logo.jpg" class="header" alt="logo">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header> 


<!-- Un petit soucis actuellement c'est qu'il faut cliquer sur le texte ou l'avatar pour qu'on puisse
selectionner un compte. Si on englobe dans l'item, la méthode de selection se lance en même temps
que la méthode pour aller vers les options du compte. Mineur mais peut gêner l'utilisateur-->
<ion-content>
  <ion-list>
    <ion-list-header class="large"><strong>Selection du compte </strong></ion-list-header>
    <ion-item *ngFor="let compte of accounts" >
      <!--<ion-avatar slot="start" (click)="selectAccountAndGoToArticles(compte)"><img src="{{compte.picture.img}}"></ion-avatar> -->
      <ion-label (click)="selectAccountAndGoToArticles(compte)" class="espaceDroite">{{compte.name}}</ion-label>
      <ion-label (click)="selectAccountAndGoToArticles(compte)">{{compte.city.name}}</ion-label>
      <ion-button color="success" slot="end" (click)="goToSettings(compte)">Plus..</ion-button>
    </ion-item>
  </ion-list>

  <ion-item (click)="goToAddAccount()">
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
    <ion-label>Ajouter un nouveau compte</ion-label>>
    </ion-item>
</ion-content>
