<!-- 
<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <br/>
  <ion-title><img src="assets/icon/logo.jpg" alt="logo"></ion-title>
  15 rue Lieut. Yves le Saux<br/>
  57685 AUGNY<br/><br/>
  <ion-icon name="mail-outline" class="icone-large"></ion-icon>commercial@cbpapiers.com<br/>
  <ion-icon name="mail-outline" class="icone-large"></ion-icon>contact@cbpapiers.com <br/>

  <ion-icon name="keypad-outline" class="icone-large"></ion-icon><span> 03 87 51 33 24</span><br/>

  <div (click)="onClicJerome()">Jerôme<br/>
    <ion-icon name="phone-portrait-sharp" class="icone-large"></ion-icon><strong><span id="numerophone">+33 6 76 41 18 29</span></strong><br/>
  </div>

  <div (click)="onClicJerome()">Xavier<br/>
    <ion-icon name="phone-portrait-sharp" class="icone-large"></ion-icon><strong><span id="numerophone">+33 6 07 95 06 20</span></strong><br/>
  </div>

  <div (click)="onClicJerome()">Julien<br/>
    <ion-icon name="phone-portrait-sharp" class="icone-large"></ion-icon><strong><span id="numerophone">+33 6 07 54 74 99</span></strong><br/>
  </div>
  
</ion-content>
