<ion-header>
        <ion-toolbar>
          <ion-row>
              <ion-col size="2">
                <ion-back-button color="success"></ion-back-button>
              </ion-col>
            <ion-col size="2.5"></ion-col>
            <ion-col size="auto">
              <img src="assets/icon/logo.jpg" class="header" alt="logo">
            </ion-col>
          </ion-row>
        </ion-toolbar>
</ion-header> 

<ion-content>
    <ion-title>Selection du compte</ion-title>
    <ion-grid>
        <ion-row align-items-center justify-content-center>
            <ion-col align-self-center [size]="12" >
                <div>
                    <ion-avatar>
                        <ion-img class="image" src="{{customer.customerPicture}}" alt="avatar"></ion-img>
                    </ion-avatar>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <br/>
                <p><strong>{{customer.name}}</strong></p>
                <p>{{customer.address}}</p>
                <p>{{customer.city.name}}, {{customer.city.postalCode}}</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="danger" (click)="alertConfirm()">
                    Supprimer le compte de l'appareil
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-list>
        <ion-item button *ngFor="let commande of commandes">
            {{ commande.libelle }}
        </ion-item>
    </ion-list> -->
