<app-header></app-header>

<ion-content>
  <!--Debounce permet d'attendre un certain temps avant le dernier input pour pas faire 458 requêtes 
  $event sert à récolter les inputs et a les envoyer dans un objet de type DOM event (https://angular.io/guide/user-input)-->
  <ion-searchbar showCancelButton="focus" debounce="500" (ionChange)="getArticleSearched($event)"
  animated placeholder="Rechercher.." class="searchbar"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-label>
      <strong>Mes produits favoris :</strong>
    </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let article of listeArticles">
      <ion-thumbnail slot="start" (click)="onLoadArticle(article)"><img src="{{article.image.document}}"></ion-thumbnail>
      <ion-label>{{article.ref}}</ion-label>
      {{article.libelle}}
      {{article.prixUnitaire}}
      <ion-select interface="popover" placeholder="0" (ionChange)="onChange($event, article)">
        <ion-item *ngFor="let chiffre of nombreQuantite">
          <ion-select-option value="{{chiffre}}">
            {{chiffre}}
          </ion-select-option>
        </ion-item>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>

<!-- <ion-content class="ion-padding">
  <strong>Liste des articles :</strong>
  <ion-list>
    <ion-item detail *ngFor="let article of tabArticles" (click)="onLoadArticle(article)" > {{article.name}} </ion-item>
  </ion-list>
</ion-content> -->
