.header
{
    margin-top: 1em;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center ;
    font-size: small;
}

.body {
  margin: auto;
  width: 80%;
  font-size: large;
  text-align: justify;
  text-align-last: center;
}

.end {
  text-align: center;
}

.green {
  color: green;
}
