<!-- sera affiché en bas de la page de la plupart des autres pages principales -->

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="article">
            <ion-icon name="document-text-outline"></ion-icon>
            <ion-label>Articles</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="history">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>Historique</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="popUpModal()">
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>Contact</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
