<app-header></app-header>
<ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button icon="chevron-back-outline" default-href="/"></ion-back-button>
    </ion-buttons>
    {{order.orderNumber | uppercase}}
</ion-toolbar>
<ion-content class="ion-padding">
    <ion-item *ngFor="let orderLine of order.orderLines">
        {{orderLine.article.label + ' x' + orderLine.quantity}}
        <div slot="end" class="green">
            {{orderLine.article.unitPrice * orderLine.quantity |number : '1.2-2'}}
        </div>
    </ion-item>
    <div class="bottom">
        <div *ngIf="total > 250; else fraisLivraison">
            TOTAL HT : <span> <b>{{total |number : '1.2-2'}}</b> €</span>
        </div>
        <ng-template #fraisLivraison>
            <p>Frais de livraison pour commande < à 250€ : <b class="green">20€</b></p>
            <p>Total HT : <span> <b>{{total + 20 |number : '1.2-2'}}</b> €</span></p>
        </ng-template>
        <div>
            <ion-button color="success" size="small" (click)="reorder()">Commander à nouveau</ion-button>
        </div>
        <div *ngIf="canEdit">
            <div *ngIf="!order.isCancelled">
                <span> TEMPS RESTANT {{calculateElapsedTime().hours }}h{{calculateElapsedTime().minutes }}
                    POUR : </span>
                <div>
                    <ion-button (click)="alertConfirm()" color="danger" size="small" fill="solid">Annuler</ion-button>
                    <ion-button (click)="editOrder()" color="warning" size="small" fill="solid"
                                routerLink="/nav/article">Editer
                    </ion-button>
                </div>
            </div>

        </div>
    </div>
</ion-content>
