<img class="space" src="assets/icon/logo.png" alt="logo">
<ion-content>
  <form onsubmit={this.processForm}>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="login" name="login" placeholder="Identifiant" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="password" name="password" placeholder="Mot de passe" required type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class='ion-padding'>
      <ion-button (click)="logIn()" expand="block" class="ion-no-margin" type="submit">Se connecter </ion-button>
    </div>
  </form>
  <div class="red"> {{error}}</div>
  <a (click)= "createContact()">Identifiants oublié?</a>
</ion-content>
