<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{orderLine.article.reference}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onDismiss()" color="correct">Fermer</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-item>
        <ion-thumbnail slot="start"
                       *ngIf="orderLine.article.articleImage != undefined && orderLine.article.articleImage.image != undefined; else emptyImage ">
            <img src="{{orderLine.article.articleImage.image}}"/>
        </ion-thumbnail>
        <ng-template #emptyImage>
            <ion-thumbnail>
                <img src="./assets/icon/not_found.jpg"/>
            </ion-thumbnail>
        </ng-template>
        <span><strong>{{orderLine.article.label}}</strong></span>
    </ion-item>
    <ion-card *ngIf="orderLine.article.articleDetails != null">
        <ion-card-header>{{orderLine.article.label}}</ion-card-header>
        <ion-card-content>
            <small>{{orderLine.article.articleDetails.description}}</small>
        </ion-card-content>
    </ion-card>

    <ion-item>
        <ion-label>Selectionnez la quantité souhaitée</ion-label>
        <ion-select
                (ionChange)="onChange($event, orderLine)"
                placeholder="{{orderLine.quantity}}"
                interface="popover"
                value="{{orderLine.quantity}}">
            <ion-item *ngFor="let chiffre of possibleQuantities">
                <ion-select-option value="{{chiffre}}">
                    {{chiffre}}
                </ion-select-option>
            </ion-item>
        </ion-select>
    </ion-item>
    <!-- Ajout de la fonction qui change l'opacité a réaliser-->
    <ion-button color="danger" (click)="onReset(orderLine)" [ngStyle]="{'opacity': isEmpty === true ? '20' : '100' }">
        Réinitialiser
    </ion-button>
</ion-content>

