<!-- utilisation d'avantage de balise ion.
   https://ionicframework.com/docs/layout/css-utilities est utile pour les classes-->

<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="success">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title><img src="assets/icon/CB_PAPIERS_VECTOR_LOGO-1.png" alt="logo"></ion-title>

  <ion-card color="success">
    <ion-card-content>
      Insérez le login et le mot de passe du compte à supprimer de l'appareil
    </ion-card-content>
  </ion-card>
  
  <!-- Pas encore utilisé mais ressemble au form d'angular normalement -->
  <form onsubmit={this.processForm}>
    <ion-list>
      <ion-item>
        <ion-input disabled [(ngModel)]="customer.name" name="customer name" placeholder="Identifiants" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="password" name="password" placeholder="Mot de passe" required type="text"></ion-input>
      </ion-item>
    </ion-list>
    <div class="red">{{error}}</div>
    <div class='ion-padding'>
      <ion-button expand="block" class="ion-no-margin" type="submit" (click)="deleteAcc()">Supprimer compte</ion-button>
    </div>
  </form>

</ion-content>
