<ion-header>
    <ion-item>
        <div>
            <img src="assets/icon/logo.jpg" class="logoHeader" alt="logo">
        </div>
        <ion-button (click)="onDismiss()" color="success" slot="end">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-item>
</ion-header>
<ion-content class="ion-padding">
    <ion-label><strong>Mon panier :</strong></ion-label>


    <div *ngIf="cart.length != 0" class="centerRight">
        <ion-button (click)="deleteAll()" color="danger" >
            Vider le panier
        </ion-button>
    </div>
    <ion-list>
        <ion-item *ngFor="let orderLine of cart">
            <ion-avatar><img src="{{orderLine.article.articleImage.image}}"></ion-avatar>
            <span class="small">
            <ion-label><strong>{{orderLine.article.reference}}</strong></ion-label>
                {{orderLine.article.label}}
            </span>
            <span class="align">
            {{orderLine.article.unitPrice}} €
            </span>
            <ion-select (ionChange)="updateCart($event,orderLine)"
                        interface="popover" slot="end"
                        placeholder="{{orderLine.quantity}}"
                        value="{{orderLine.quantity}}">
                <ion-item *ngFor="let chiffre of possibleQuantities">
                    <ion-select-option value="{{chiffre}}">
                        {{chiffre}}
                    </ion-select-option>
                </ion-item>
            </ion-select>
            <span slot="end">
            <ion-button color="danger" (click)="deleteLine(orderLine)">
            <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </span>
        </ion-item>
    </ion-list>
    <div *ngIf="cart.length != 0; else emptyCart" class="alignement">
        
        <div *ngIf="!warehouseRetrieval">
            <div> Sous total HT : <span class="green">{{total | number:'1.2-2'}}</span></div>
            <div *ngIf="total-250 >= 0; else noDiscount" class="green">
                <small>LIVRAISON GRATUITE</small>
            </div>
            <ng-template #noDiscount>
                <div><span class="green">{{250 - total | number:'1.2-2' }} </span><small> € avant la livraison gratuite</small></div>
                <div>Livraison : <span class="red">{{shippingPrice}} €</span></div>
            </ng-template>
        </div>
        <div>
            <span class="green">-5%</span><span> avec le retrait entrepôt</span>
            <ion-toggle (ionChange)="toggled()" [checked]="warehouseRetrieval" class="reductionHauteur"
                        color="success"></ion-toggle>
        </div>
        <div>
            <span><strong>Total HT : </strong></span>
            <span *ngIf="!warehouseRetrieval; else whDiscount">
                <span *ngIf="total-250 >= 0; else payShipping">
                    <span class="green">{{total | number:'1.2-2'}}€</span>
                </span>
                <ng-template #payShipping>
                    <span class="green">{{finalTotal | number:'1.2-2'}}€</span>
                </ng-template>
            </span>
            <span>
                <ng-template #whDiscount>
                    <span class="green">{{total | number:'1.2-2'}}€</span>
                </ng-template>
            </span>
        </div>
        <br/>
        <ion-button (click)="createValidationOrder()" color="success">
            Commander
        </ion-button>
    </div>
    <ng-template #emptyCart>
        <div>
            Le panier est vide :(
        </div>
    </ng-template>
</ion-content>
