.right{
  display: inline;
}

.green{
  color: forestgreen;
}
b{
  color:green
}

.retrait{
  color:red;
}
.bottom{
  text-align: center;
  position:absolute;
  bottom:1em;
  width:100%;
}
.total-line{
  margin-top: 1em;
}
.duo {
  text-align: center;
}
