/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Pour appliquer des styles à un modal, il faut une spécificité CSS assez 
// élevé car ce n'est pas dans la css du component du modal vu qu'il est généré
// d'une manière spéciale.

.modal-pop {
  --max-height : 80%;
  --max-width : 80%;
}

.modal-panier {
  --max-height: 80%;
}

.modal-article {
  --max-height: 50%;
}

.popover-content {
  top: 20% !important; //fait apparaitre la popover à partir de 20% du top de l'écran
}

.backbutton {
  --color: white;
  color: white;
}
